h1 {
    font-family: 'Darumadrop One', cursive;
    font-size: 3rem;
    text-align: center;
    padding: 0px 0px 10px 0;
    margin: 0;
}

p {
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    font-weight: 800;
    text-align: justify;
    line-height: 1.4rem;
}

header {
    display: flex;
    flex-flow: row wrap;
    text-align: center;
    justify-content: center;
    align-items: center;
}

#hero-text h1 {
    font-family: 'Darumadrop One', cursive;
    text-align: center;
    font-size: 4rem;
}

#hero-img {
    align-items: center;
    justify-content: center;
}

#hero-logo {
    color: rgb(247, 226, 110);
}

#flyer img.happyfoto {
    width: 100%;
    height: auto;
}

main#container {
    display: flex;
    flex-flow: row wrap;
}

section#flyer {
    flex: 1.5;
}

section#guidelines {
    flex: 2;
    padding: 20px;
    padding: 0 40px 0 40px;
}

section#gclist {
    flex: 1;
    padding-left: 10px;
}

#gclist h1.listhead {
    font-family: 'Darumadrop One', cursive;
    font-size: 2rem;
    text-align: center;
    padding: 0px;
}

#gclist h2.sub-listhead {
    font-family: 'Darumadrop One', cursive;
}

#gclist li {
    font-family: 'Darumadrop One', cursive;
    color: rgb(210, 75, 151);
    font-size: 1rem;
    list-style: none;
    line-height: 1.5rem;
}

span.sub_dead {
    font-family: 'Darumadrop One', cursive;
    font-weight: 800;
    font-weight: bolder;
}

span.atty-love {
    font-family: 'Darumadrop One', cursive;
    color: rgb(210, 75, 151);
    font-weight: 800;
    font-weight: bold;
}

span.atty {
    font-family: 'Darumadrop One', cursive;
    color: rgb(210, 75, 151);
    font-weight: 800;
    font-weight: bolder;
}

.sub-h1 {
    color: rgb(247, 226, 110);
}

span.love {
    font-family: 'Darumadrop One', cursive;
    color: rgb(48, 43, 108);
    font-weight: 800;
    font-size: medium;
}

span.empha {
    font-family: 'Darumadrop One', cursive;
    color: rgb(106, 186, 252);
    font-weight: bolder;
}